@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFF55;
    text-align: center;
}
#rewiew{
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #000000;
    margin-bottom: -100%;
}
#booktitle{
    font-size: 12px;
    padding-bottom: 3px;
    margin: 0px;
    padding-top: 3px;
}
#star{
   margin: 0px;
   font-size: 30px;
   padding-bottom: 3px; 
}
#opinion{
    font-size: 11px;
    margin: 0px;
}
/* Make <details> positioned so its expanded content can be layered */
details{
    position: relative;
}

/* Keep summary above the content when closed */
summary{
    position: relative;
    z-index: 2;
    list-style: none;
    cursor: pointer; /* make summary indicate it's clickable */
}

/* When details is open, absolutely position the non-summary children
   so they overlay (cover) the summary */
details[open] > *:not(summary) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3; /* sits above the summary */
    background: inherit; /* match parent's background; change if you want a solid color */

    /* Make overlay behave like a dismissible layer */
    cursor: pointer; /* show pointer to indicate click-to-close */
    user-select: none; /* prevent text selection / blue highlight */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent; /* remove mobile tap highlight */
}

#bookgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    justify-content: center;
    align-items: center; /* Align items to the start of the grid */
    grid-auto-rows: 320px;
    gap: 20px; /* Optional: Add some space between grid items */
    margin-right: 5%;
    margin-left: 5%;
}
.book{
    display: flex;
    width: 210px;
    height: 300px;
    border: #FFFF55 dashed 3px;
    border-radius: 3px;
}
#backbut{
    font-size: 17px;
    justify-self: center;
    display: block;
    margin-top: 20px;
    padding: 0;
    transition: color 0.25s;
}
button{
    border: none;
    background-color: #000000;
}
#backbut:hover{
    color: #16c60c;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}
h1{
    margin-top: 15px;
    font-size: 3dvw;
}
@media only screen and (max-width: 1236px){
    h1{
        font-size: 5dvw;
    }
}
@media only screen and (max-width: 800px){
    h1{
        font-size: 7dvw;
    }
}
@media only screen and (max-width: 600px){
    h1{
        font-size: 10dvw;
        text-align: center;
        gap: 7px;
        border-bottom: solid 3px;
        padding-bottom: 25px;
        width: 100%;
    }
}
@media only screen and (max-width: 491px){
    #bookgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    justify-content: center;
    justify-self: center;
    align-items: start; /* Align items to the start of the grid */
    grid-auto-rows: 320px;
    gap: 20px; /* Optional: Add some space between grid items */
    margin-right: 5%;
    margin-left: 5%;
}
}