@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #16c60c;
}
body{
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    background-color: black;
    overflow: hidden;
}
#startpadgebod{
    position: relative;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    display: block;
}
.orb#a1:hover{
    color: #FF5555;
    animation-delay: 0s;
}
.orb#a2:hover{
    color: #FFFF55;
    animation-delay: -4.5s;
}
.orb#a3:hover{
    color: #FF55FF;
    animation-delay: -9s;
}
.orb#a4:hover{
    color: #55FFFF;
    animation-delay: -13.5s;
}
#orbit{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    height: 300px;
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    box-sizing: border-box;
    overflow: visible;
}
h1{
    font-size: 2dvw;
}
#innerorbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1.8); /* <--- makes it an oval */
  width: 0;
  height: 0;
}

.orb {
  font-size: 1.5dvw;
  position: absolute;
  display: block;

  top: 50%;
  left: 50%;
  /* dynamic radius: 40% of the smaller screen dimension */
  transform: translate(-50%, -50%) rotate(0deg) translateY(-30vmin);

  transform-origin: center;
  animation: orbit 18s linear infinite;
  transition: color 0.25s;
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-30vmin);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateY(-30vmin);
  }
}







@media only screen and (max-width: 1236px){
    h1{
        font-size: 2.5dvw;
    }
    .orb{
        font-size: 30px;
    }
    @keyframes orbit {
    from {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-24vmin);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-24vmin);
    }
    }
}
@media only screen and (max-width: 1236px){
    .orb{
        font-size: 20px;
    }
    @keyframes orbit {
    from {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-20vmin);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-20vmin);
    }
    }
}
@media only screen and (max-width: 800px){
    h1{
        font-size: 3.5dvw;
    }
}
@media only screen and (max-width: 600px){
    #startpadgebod{
    position: relative;
    justify-content: center;
    align-content: start;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items:start;
    display: block;
    }  
    h1{
        font-size: 10dvw;
        text-align: center;
        gap: 7px;
        border-bottom: #16c60c solid 3px;
        padding-bottom: 25px;
        width: 100%;
    }
    /* Make the orbit a normal horizontal row */
    #orbit{
    margin-top: 0;
    top: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    transform: none;
    justify-self: none;
    align-self: none;
    gap: none;
    width: 100%;
    height: 60%;
    max-width: none;
    padding: none;
    }
    /* make inner orbit a normal, static flex container on small screens */
    #innerorbit {
    margin-top: 0;
    gap: 1rem;
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: none;
    text-align: left;
    }
    .orb {
    font-size: 7dvw;
    position: static;
    display: block;
    margin: 0.5rem;
    transform: none;
    animation: none;
    min-width: 0;
    }
    #startpadgebod{
    position: relative;
    justify-content: center;
    align-content:normal;
    justify-self: center;
    align-self: normal;
    justify-items: center;
    align-items: normal;
    display: block;
}
}