@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFB86C;
    text-align: center;
}


#bookgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    justify-content: center;
    align-items: center; /* Align items to the start of the grid */
    grid-auto-rows: 320px;
    gap: 20px; /* Optional: Add some space between grid items */
    margin-right: 5%;
    margin-left: 5%;
}
.book{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 290px;
    border: #FFB86C none 3px;
    border-radius: 3px;
    align-items: center;
}
#sig{
    height: 384px;
}
#sel:hover{
    border: #fff1e2 dashed 3px;
    transition: linear all 0.25s;
}
video{
    width: 180px;
    height: 320px;
    border: #FFB86C dashed 3px;
    border-radius: 20px;
    justify-self: center;
}
#view{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    width: 60px;
    height: 40px;
    gap: 1px;
    border-radius: 12px;
    border: #FFB86C solid 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}
#view img{
    width: 25px;
    height: 25px;
}
#view p{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
#ikonuholder{
    align-content: center;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 210px;
    gap: 3px;
    height: 44px;
}
#ikonina{
    position: relative;
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: #FFB86C solid 2px;
    padding: 0px;
    margin-top: 4px;
}
#sel{
    border-radius: 3px;
    border: #FFB86C dashed 3px;
    width: 210px;
    height: 210px;
    border-radius: 20px;
    transition: linear all 0.25s;
}
#backbut{
    font-size: 17px;
    justify-self: center;
    display: block;
    margin-top: 20px;
    padding: 0;
    transition: color 0.25s;
}
button{
    border: none;
    background-color: #000000;
}
#backbut:hover{
    color: #16c60c;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}
h1{
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 3dvw;
}
@media only screen and (max-width: 1236px){
    h1{
        font-size: 5dvw;
    }
}
@media only screen and (max-width: 800px){
    h1{
        font-size: 7dvw;
    }
}
@media only screen and (max-width: 600px){
    h1{
        font-size: 10dvw;
        text-align: center;
        gap: 7px;
        border-bottom: solid 3px;
        padding-bottom: 25px;
        width: 100%;
    }
}
@media only screen and (max-width: 491px){
    #bookgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    justify-content: center;
    justify-self: center;
    align-items: start; /* Align items to the start of the grid */
    grid-auto-rows: 320px;
    gap: 20px; /* Optional: Add some space between grid items */
    margin-right: 5%;
    margin-left: 5%;
}
}