@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #16c60c;
}
body{
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    background-color: black;
    overflow: hidden;
}
h1{
    font-size: 2dvw;
}
@media only screen and (max-width: 1236px){
    h1{
        font-size: 2.5dvw;
    }
}
@media only screen and (max-width: 800px){
    h1{
        font-size: 3.5dvw;
    }
}
@media only screen and (max-width: 600px){
    h1{
        font-size: 10dvw;
        text-align: center;
        gap: 7px;
        border-bottom: solid 3px;
        padding-bottom: 25px;
        width: 100%;
    }
}